$lime: #0f0;
$black: #000;
$gray: #888;
$white: #ffff;
$black2:#1f1f1f;
.header-bg {
  width: 100%;
  background-color: $black;
  height: 100px;
}

.header {
  display: flex;
  justify-content: flex-end;

  &-login {
    color: $lime;
    margin-top: 10px;
    font-size: 12px;
  }

  &-and {
    color: gray;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    font-size: 12px;
  }

  &-reg {
    color: $lime;
    margin-right: 300px;
    font-size: 12px;
    margin-top: 10px;
  }
}

.navigation {
  display: flex;
  margin-top: 20px;
  justify-content: space-evenly;
  &-logo {
    display: flex;
    justify-content: flex-start;
    img{
      width: 99px;
      height: 16px;
    }
  }

  &-panel {
    display: flex;
    color: $gray;
    align-items: center;
    p {
      margin-right: 40px;
      transition-duration: 0.3s;

      &:hover {
        color: $lime;
        cursor: pointer;
      }
    }
  }

  &-icons {
    display: flex;
    justify-content: flex-end;
    img {
      width: 21px;
      height: 21px;
      margin-right: 20px;
    }
  }
}

.text {
  background: linear-gradient(180deg, #000, rgba(0, 0, 0, 0));
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;

  &-title {
    color: $gray;
    font-size: 36px;
    width: 60%;
    font-family: RazerF5,serif;
    font-weight: 300;
  }

  &-description {
    font-weight: 300;
    color: $white;
    font-size: 35px;
    font-family: RazerF5,serif;
  }
}

.banners{
  display: flex;
  &-item{
    background-color: $black;
    width: 25%;
    position: relative;
    border: 3px solid darkgray;
    img{
      width: 100%;
      height: auto;
    }
    &-text{
      text-align: center;
      position: absolute;
      bottom: 0;
      z-index: 3;
      background-color: $black;
      width: 100%;
    }
    &-title{
      color: $gray;
      font-size: 19px;
    }
    &-description{
      color: $lime;
      font-size: 19px;
    }
  }
}

.footer{
  display: flex;
  background-color: $black2;
  width: 100%;
  padding: 3.125rem 0.625rem;
  justify-content: space-evenly;
  &-column1{
    &-one{
      div{
        color: $white;
        font-size:16px;
        transition-duration: 0.3s;
        &:hover{
          color: $lime;
          cursor: pointer;
        }
      }
      span{
        color: $gray;
      }
    }
    &-two{
      display: flex;
      flex-direction: column;
      div{
        color: $white;
        font-size:16px;
        margin-top: 20px;
        transition-duration: 0.3s;
        &:hover{
          color: $lime;
          cursor: pointer;
        }
      }
      span{
        color: $gray;
      }
    }
  }
  &-column2{
    display: flex;
    flex-direction: column;
    div{
      color: $white;
      font-size: 16px;
    }
    span{
      color: $gray;
      margin-top: 10px;
      transition-duration: 0.2s;
      &:hover{
        color: $white;
        cursor: pointer;
      }
    }
  }
  &-column3{
    display: flex;
    flex-direction: column;
    div{
      color: $white;
      font-size: 16px;
    }
    span{
      color: $gray;
      margin-top: 10px;
      transition-duration: 0.2s;
      &:hover{
        color: $white;
        cursor: pointer;
      }
    }
  }
  &-column4{
    display: flex;
    flex-direction: column;
    p{
      color: $white;
      font-size: 16px;
    }
    img{
      width: 21px;
      height: 20px;
    }
    span{
      margin-left: 5px;
      color: $gray;
      transition-duration: 0.2s;
      &:hover{
        color: $white;
        cursor: pointer;
      }
    }
    &-item{
      display: flex;
      margin-bottom: 10px;
    }
  }
}
